*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:darkslategrey ;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.todoinput{
  margin: 10px;
  padding: 10px;
  color: aliceblue;
    border-radius: 10px;
}
.btn{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover{
  background-color: gray;
}
h1{
  text-align: center;
  color: aliceblue;
}

ul{
  margin: 20px;
  padding: 10px; 
  width: 30%;
  height: 60px;
  background-color: wheat;
  border-radius: 10px;
  color:darkturquoise;
  border-radius: 10px;
  font-weight: bold;
}
.icons{
  color: black;
  position: relative;
  left: 420px;
  bottom: 63px;
  border-radius: 5px;
  font-size:x-large;
  cursor: pointer;
}
.edit-icons{
  color: black;
    position: relative;
    left: 380px;
    bottom: 95px;
    border-radius: 5px;
    font-size: x-large;
    cursor: pointer;
}